section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border: 1px solid black;
    
    .sec1{
        display: flex;
        column-gap: 20px;
        .box{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            width: 200px;
            background-color: rgb(179, 179, 42);
            border: 1px dotted black;
            font-weight: bold;
            transition: 1s;
            &.box:hover{
                background-image: url(/minion.png);
                background-size: cover;
                transform: rotateX(360deg);
                background-repeat: no-repeat;
                h4{
                    display: none;
                }
            }
        }
    }
}
   


