#contact{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    .row{

        .col{
            h1{
            font-weight: bold;
            margin-left: 30px;
            color: rgb(94, 93, 93);
            }
            .form{
                input{
                    width: 30%;
                    border: 1px dotted black;
                    padding: 10px 15px;
                    margin-bottom: 20px;
                }
                #tel{
                    padding: 10px;
                }
                .xx{
                    width: 60%;
                }
                #prof{
                    width: 60%;
                    padding: 10px;
                }
                button{
                    width: 60%;
                    background-color: orange;
                    padding: 10px;
                    border: none;
                }
            }
        }
    }
}