section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: 2px solid black;
  .sec1 {
    display: flex;
    column-gap: 20px;
    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      width: 200px;
      background-color: rgb(235, 235, 4);
      border: 1px dotted black;
      font-weight: bold;
      &:hover {
        transition: 1.2s;
        background-size: cover;
        transform: rotateX(360deg);
        background-repeat: no-repeat;
        &.box1 {
          background-image: url(./images/minion1.jpg);
          background-position: -25px;
        }
        &.box2 {
          background-image: url(./images/minion2.jpg);
          background-position: 0 -35px;
        }
        &.box3 {
          background-image: url(./images/minion3.jpg);
        }
        h3 {
          display: none;
        }
      }
    }
  }
}
