*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sec1{
    border: 1px solid black;
    height: 100vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxs{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.box{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid black;
    transition-duration: 1s;
}
.box h1, .box:hover h2{
    display: none;
}
.box:hover h1{
    display: block;
    color: white;
}

.box1{
    background-color: brown;   
}
.box1:hover{
    transform: scale(1.1);
}
.box2{
    background-color: darkolivegreen;
}
.box2:hover{
    transform: translate(100px ,-200px);
}

.box3{
    background-color: darkblue;
}
.box3:hover{
    transform: rotateY(360deg);
}

.box4{
    background-color: rgb(181, 159, 34);
}
.box4:hover{
    transform: skewX(10deg);
}

.sec2{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.big{
    width:200px;
    animation: big 15s linear infinite;
}
.little{
    width:100px;
    position: relative;
    top: 30%;
    left: 40%;
}
.rotate{
   animation: rotate 100s linear infinite ;
}

 @keyframes big{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
 }
 @keyframes rotate{
    from{
        transform: rotate(0deg) 
    }
    to{
        transform: rotate(360deg) 
    }
 }
