*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    margin: 0, auto;
}
header{
    width: 100%;
    background-color: rgb(201, 192, 180);
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
}
#header ul {
    display: flex;
    align-items: center ;
    justify-content:space-around;
    z-index: 2;
    width: 100%;
}
#header ul li{
  padding: 10px;
  border: 1px solid transparent ; 
}
#header ul li:hover{
    background-color: rgb(154, 179, 170);
    border-color: rgb(132, 155, 155);
    border-radius: 8px;
}
input{
    margin-left: 10px;
    visibility: hidden;
}
.fa-solid:hover + input{
    visibility: visible;
}

input[placeholder]:focus{
    text-align: center;
    visibility: visible;
}
.sec1{
    display: flex;
    height: 100vh;
    margin-top: 13px;
}
#sec1{
display: flex;
flex-direction: column;
justify-content: center;
background-image: url(./images/bg.jfif);
background-size: cover;
margin-top: 50px;
}
#text{
    margin: 20px;
    width: 50%;
}
#sec2{
    height: 60vh;
    background-image: url(./images/R.jfif);
    background-size: cover;
    background-attachment: fixed;
}
.sec3{
    background-color: rgb(189, 172, 172);
    position: relative;
    height: 100vh;
}
.box{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(117, 139, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    }

.box2{
    right: 0;
}
.box3{
    
    right: 0;
    bottom: 0;
}
.box4{
    bottom: 0;
}
.box1{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}