#sec-bg{
    height: 60vh;
    background-image: url(./images/sec-bg.png);
    background-size: cover;
    opacity: 0.9;

    h1{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
}