header {
  height: 100vh;
  background-image: url(./images/bg.png);
  background-size: cover;
  background-position: center;

  nav {
    padding: 20px 0;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      li {
        list-style: none;

        img {
          width: 55px;
          position: relative;
          &:hover::after{
            content: "";
            display: block;
            border: 1px solid red;
            width: 20px;
            position: absolute;
          }
        }

        a {
          text-decoration: none;
          color: white;
          position: relative;
          &:hover::after {
            display: block;
            content: "";
            width: 20px;
            border: 1px solid red;
            position: absolute;
          }
        }
      }
    }
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 30px;
      h3 {
        font-family: "Alkatra", cursive;
        color: #8a7162;
        text-decoration: line-through;
        font-weight: lighter;
      }
      h1 {
        width: 40%;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-size: 60px;
        color: white;
      }

      a {
        padding: 15px 40px;
        background-color: #8a7162;
        color: white;
        font-family: "Montserrat", sans-serif;
        text-decoration: none;
        &:hover {
          background-color: #a1948c;
        }
      }
    }
  }
  .img {
    
    img {
      width: 500px;
      transform: translate(9%, 33%);
      transition: 3s;
      &:hover {
        transform: translate(0%, 60%);
      }
    }
  }
}
